@using System.Xml.Linq
@model XElement

@{
    ViewBag.Title = "Uppgift 1 - Utbetalningar per ärende";
    var arenden = Model.Elements().GroupBy(x => x.Element("Arendenummer").Value);
    int utbetald = 0;
    int planerad = 0;
}

<h2>Uppgift 1 - Utbetalningar per ärende</h2>
@foreach(var arendenummer in arenden){
var bidrag = arendenummer.ElementAt(0);

<h3>Ärende @arendenummer.Key</h3>
<p>Bidrag: @((string?)bidrag.Element("Beskrivning"))</p>
<table table class="table-bordered table_50">
    <thead>
        <tr>
            <th>
                Datum
            </th>
            <th>
                Status
            </th>
            <th>
                Summa
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var arende in arendenummer)
        {
        <tr>
            <td>
                @((string?)arende.Element("Datum"))
            </td>
            <td>
                @((string?)arende.Element("Status"))
            </td>
            <td>
                @((string?)arende.Element("Summa"))
            </td>
        </tr>
        if ((string?)arende.Element("Status") == "Utbetald"){
            utbetald += Int32.Parse((string?)arende.Element(name: "Summa"));
        }
        else{
            planerad += Int32.Parse((string?)arende.Element(name: "Summa"));
        }
        }
        <tr>
            <td>Total summa:</td>
            <td colspan="2">@(utbetald+planerad)</td>
        </tr>
        <tr>
            <td>Utbetald summa:</td>
            <td colspan="2">@utbetald</td>
        </tr>
        <tr>
            <td>Kvarvarande summa:</td>
            <td colspan="2">@planerad</td>
        </tr>
    </tbody>
</table>
}